// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$red-hover: #dc354530;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$gray-hover-opaque: #edeeef;
$gray-hover-darker-opaque: #f6f6f7;
$light: #f8f9fa;
$dark: #343a40;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;
$brick-light: #e2302810;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-purple: #7ba1ea;
$dark-m-blue: #3391ff;

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'archia';
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-family: 'archia';
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-family: 'archia';
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-family: 'archia';
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-family: 'archia';
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-family: 'archia';
  font-size: 11px !important;
  font-weight: 600;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.arrow-up {
  border-bottom: 5px solid $gray-mid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 0.25rem;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $gray-mid;
  margin-left: 0.25rem;
}

.Navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  .navbar-left {
    color: $gray-mid;
    cursor: pointer;
    font-family: 'archia';
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    width: 3rem;

    &:hover {
      color: $gray;
    }
  }

  .navbar-middle {
    color: $gray;
    font-family: 'archia';
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

    span {
      color: $pblue;
    }
  }

  .navbar-right {
    color: $gray-mid;
    cursor: pointer;
    font-family: 'archia';
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    width: 3rem;

    &:hover {
      color: $gray;
    }
  }

  .language-toggle {
    cursor: pointer;
    font-family: 'archia';
    font-weight: 900;
    text-transform: uppercase;
  }

  .expand {
    background: $gray-light-opaque;
    color: $gray;
    display: flex;
    flex-direction: column;
    font-family: 'archia';
    width: 100vw;
    z-index: 9999;

    & > * {
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
      padding: 1.5rem;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: $gray-hover;
      }

      span {
        &.focused {
          background: $pblue-light;
          color: $pblue;
          padding: 0.25rem;
        }
      }
    }

    .expand-bottom {
      align-self: flex-start;
      border: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h5 {
        margin: 0;
      }

      &:hover {
        background: none;
      }
    }
  }
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;

  .home-left,
  .home-right {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  .home-left {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-height: 60rem;
  }

  .home-right {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-height: 10rem;
  }

  .header {
    z-index: 99;
  }
}

.alert {
  align-items: flex-start;
  background: $gray-light;
  border-radius: 5px;
  color: $gray;
  display: flex;
  flex-direction: row;
  font-family: 'archia';
  font-size: 10px;
  padding: 0.5rem;

  svg {
    color: $gray-mid;
    height: 16px;
    width: 16px;
  }

  .alert-right {
    margin-left: .25rem;
    text-align: right;
    width: 5rem;

    a {
      background: $gray-light;
      color: $gray;
      padding-left: 0.1rem;
      padding-right: 0.1rem;

      &:hover {
        background: $gray-hover;
      }
    }

    &.is-full {
      width: 100%;
    }
  }

  &.is-green {
    background: $green-light;
    color: $green;

    svg {
      stroke: $green-mid;
    }
  }
}

.State {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    position: relative;
    width: calc(100% - 3rem);

    & > * {
      align-self: flex-start;
    }

    .header-left {
      h1,
      h5 {
        margin: 0;
      }

      h1 {
        color: $brick;
        max-width: 20rem;
      }

      h5 {
        color: $gray;
        font-weight: 600;
        margin-top: .5rem;
      }
    }

    .header-right {
      color: $purple-mid;
      display: flex;
      flex-direction: column;
      margin-top: 0.1rem;
      text-align: right;

      h2,
      h5 {
        font-weight: 600;
        margin: 0;
      }

      h2 {
        color: $purple;
        font-weight: 900;
        margin-bottom: 1rem;
      }

      a {
        background: $purple-light;
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $purple-hover;
        }
      }
    }
  }

  .state-left,
  .state-right {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  .state-left {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    position: relative;
  }

  .state-right {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  a {
    text-decoration: none;
  }

  .to-essentials {
    align-self: center;
    background: $gray-light;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    h2 {
      color: $gray-mid;
      font-weight: 600;
    }

    svg {
      color: $gray-mid;
      margin-bottom: 2px;
      margin-left: 1rem;
    }

    & > * {
      align-self: center;
    }
  }

  .district-bar {
    width: 100%;
  }

  .Minigraph {
    .svg-parent {
      width: calc(25%) !important;
    }
  }

  .MapExplorer {
    margin-top: 2rem;
    width: calc(100% - 3rem);

    .header,
    .map-stats,
    .map-button,
    .tabs-map,
    .last-update,
    .footnote {
      display: none;
    }

    .anchor {
      display: none;
    }
  }

  .TimeSeriesExplorer {
    .anchor {
      display: none;
    }
  }
}

.StateMeta {
  align-self: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  width: calc(100% - 3rem);

  &.population {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin: 0;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    .alert {
      margin: 0;
    }
  }

  .meta-item {
    border-radius: 5px;
    min-height: 6rem;
    padding-left: 1rem;
    padding-top: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }

    h5 {
      font-weight: 600;
    }

    h2 {
      font-weight: 600;
    }

    h3 {
      font-weight: 900;
      width: 10rem;
      word-wrap: break-word;
    }

    h1 {
      display: inline-block;
      font-weight: 600;
    }

    &.population {
      min-height: 1rem !important;
      padding: 0 !important;

      h1,
      h3 {
        color: $gray;
      }
    }

    .meta-item-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > * {
        align-self: center;
      }

      span {
        margin-right: 1rem;
      }

      svg {
        align-self: flex-start;
        cursor: pointer;
        stroke-width: 2.5px;
        width: 16px;
      }
    }

    .meta-item-middle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      * {
        align-self: center;
      }

      svg {
        cursor: pointer;
        margin-right: 1rem;
      }
    }

    p {
      font-family: 'archia';
      font-weight: 600;
      margin-bottom: 1.25rem;
      padding-right: 1rem;
    }

    &.confirmed {
      background: $cherry-light;

      h3,
      h5,
      svg,
      p {
        color: $cherry-mid;
      }

      h1 {
        color: $cherry;
      }
    }

    &.active {
      background: $blue-light;

      h3,
      h5,
      svg,
      p {
        color: $blue-mid;
      }

      h1 {
        color: $blue;
      }
    }

    &.recovery {
      background: $green-light;

      h3,
      h5,
      svg,
      p {
        color: $green-mid;
      }

      h1 {
        color: $green;
      }
    }

    &.mortality {
      background: $gray-light;

      h3,
      h5,
      svg,
      p {
        color: $gray-mid;
      }

      h1 {
        color: $gray;
      }
    }

    &.cpm {
      background: $yellow-light;

      h3,
      h5,
      svg {
        color: $orange-mid;
      }

      h1 {
        color: $orange;
      }
    }

    &.tpm {
      background: $purple-light;

      h3,
      h5,
      svg,
      p {
        color: $purple-mid;
      }

      h1 {
        color: $purple;
      }
    }

    &.ptr {
      background: $pink-light;

      h3,
      h5,
      svg,
      p {
        color: $pink-mid;
      }

      h1 {
        color: $pink;
      }
    }

    &.gr {
      background: $brown-light;

      h3,
      h5,
      p,
      svg {
        color: $brown-mid;
      }

      h1 {
        color: $brown;
      }
    }
  }
}

.StateDropdown {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  .state-name {
    background: $brick-light;
    border-radius: 5px;
    cursor: pointer;
    padding: .25rem;
    transform: translate3d(-.25rem, 0, 0);
  }

  .dropdown {
    background: $white;
    border-radius: 5px;
    height: 25rem;
    left: -.25rem;
    overflow-y: scroll;
    position: absolute;
    top: 2.75rem;
    width: 15rem;
    z-index: 999;

    .item {
      color: $red;
      cursor: pointer;
      font-family: 'archia';
      padding: 0.75rem;

      &:hover {
        background: $red-hover;
      }
    }
  }

  .backdrop {
    background: $red-light;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
}

.Essentials {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30rem;

  img,
  .alert {
    align-self: center;
  }

  .alert {
    margin: 0;
    margin-top: 2rem;
    width: 90% !important;
    word-wrap: break-word;

    .alert-right {
      text-align: left;
    }

    svg {
      margin: 0;
    }
  }

  button {
    align-self: center;
    background: $yellow-light;
    color: $orange;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    justify-content: center;
    margin: 0;
    padding: .75rem;
    text-transform: unset;

    * {
      align-self: center;
    }

    svg {
      margin-left: .5rem;
      padding-right: 0;
    }

    &:hover {
      background: $yellow-hover;
    }
  }

  .address {
    align-self: center;
    color: $gray;
    display: flex;
    flex-direction: row;
    padding: 1rem;

    h3 {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      margin-bottom: 2px;
      stroke: $gray-mid;
      stroke-width: 3px;
    }

    * {
      align-self: center;
    }
  }

  .essential-result {
    background: $gray-light;
    border: transparent !important;
    border-radius: 5px;
    cursor: default !important;
    margin-bottom: 1rem;
  }
}

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .label {
    align-items: center;
    background: $gray-light !important;
    border-radius: 5px !important;
    color: $gray-mid !important;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: 'archia' !important;
    font-size: 14px;
    margin-bottom: 0.25rem;
    margin-right: .25rem;
    padding: .25rem .5rem;
    text-transform: capitalize;

    &.is-selected {
      background: $yellow-hover !important;
      color: $orange-mid !important;

      &:hover {
        background: $yellow-hover !important;
        color: $orange-mid !important;
      }
    }

    @media not all and (pointer: coarse) {
      &:hover {
        background: $yellow-light !important;
        color: $orange-mid !important;
      }
    }

    .count {
      align-items: center;
      background: inherit;
      border-radius: 50%;
      color: inherit;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      height: 1.5rem;
      justify-content: center;
      margin-left: 0.25rem;
      width: 1.5rem;
    }
  }
}

.Banner {
  background: $purple-light;
  color: $purple;
  display: flex;
  flex-direction: row;
  font-family: 'Archia';
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;

  .snippet {
    align-self: center;
    cursor: pointer;
    padding: 1.5rem;
    text-align: center;
    width: calc(100% - 10rem);
    word-wrap: break-word;
  }
}

.Search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;

  & > * {
    align-self: center;
  }

  label {
    color: $gray;
    font-family: 'archia';
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }

  .line {
    background: $gray-light;
    height: 1rem;
    width: 2px;
  }

  input {
    -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none !important;
    -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    color: $gray;
    font-family: 'archia';
    font-size: 1rem;
    height: 2rem;
    outline: none;
    padding: 1rem;
    padding-left: 3rem;
    width: calc(100% - 4rem);
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;
  }

  .search-placeholder {
    color: $gray-mid;
    font-family: 'archia';
    font-size: 1rem;
    left: 3rem;
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
    top: 4.3rem;
    transition: opacity 1s;

    &.disappear {
      opacity: 0;
    }
  }

  .search-button {
    svg {
      color: $gray-mid;
      left: 0.75rem;
      position: absolute;
      top: 1.25rem;
      transition: all 0.2s ease-in-out;
    }

    &.is-expand {
      svg {
        left: 0.5rem;
      }
    }
  }

  .close-button {
    background: $gray-light !important;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 1.35rem;
    transition: all 0.2s ease-in-out;
    width: 20px;

    &:hover {
      background: $gray-hover !important;
    }

    &.is-expand {
      right: 0.75rem;
    }

    svg {
      align-self: center;
      position: absolute;
      stroke: $gray-mid;
      stroke-width: 3;
      width: 12px;
    }

    &.custom {
      background: $pink-light !important;
      pointer-events: none;
      z-index: 0;

      svg {
        stroke: $pink !important;
      }
    }
  }

  .feature {
    background: $pink-light;
    border-radius: 5px;
    color: $pink;
    cursor: pointer;
    font-family: 'archia';
    font-size: .75rem;
    padding: .75rem;
    text-align: center;
  }

  .expanded {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    width: calc(100% - 4rem);

    & > * {
      flex: 1;
    }

    h4,
    h3 {
      color: $gray;
      font-weight: 600;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $pblue;
      margin-bottom: 0.75rem;
    }
  }

  .results {
    padding: 1rem;
    padding-bottom: 0;
    width: calc(100% - 2rem);

    a {
      text-decoration: none !important;
    }

    .pan-divider {
      color: $gray;
      font-weight: 600;
      padding: 1rem 0;
    }

    .result,
    .essential-result {
      align-self: flex-start;
      border-bottom: 2px solid $gray-light;
      color: $gray;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-family: 'archia';
      font-size: 0.9rem;
      justify-content: space-between;
      min-height: 2rem;
      padding: 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: $gray-light;
      }

      & > * {
        align-self: center;
      }

      .result-name {
        max-width: 15rem;
      }

      .result-type {
        background: $yellow-light;
        border-radius: 2px;
        color: $orange;
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        padding: 0.25rem;

        &:hover {
          background: $yellow-hover;
        }

        &:hover {
          background: $yellow-hover;
        }

        svg {
          margin-left: 0.25rem;
          stroke: $orange-mid;
          stroke-width: 3px;
        }

        * {
          align-self: center;
        }
      }

      .result-left {
        display: flex;
        flex-direction: row;

        * {
          align-self: center;
        }
      }

      .result-zone {
        border-radius: 50%;
        height: 0.75rem;
        margin-left: 0.5rem;
        width: 0.75rem;

        &.is-red {
          background: $cherry-light;
          border: 2px solid $cherry-mid;
        }

        &.is-orange {
          background: $orange-light;
          border: 2px solid $orange-mid;
        }

        &.is-green {
          background: $green-light;
          border: 2px solid $green-mid;
        }
      }
    }

    .essential-result {
      display: flex;
      flex-direction: column;

      .result-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .result-top-left {
          display: flex;
          flex-direction: column;

          .result-location {
            display: flex;
            flex-direction: row;
            font-size: 0.75rem;
          }

          .result-distance {
            color: $green;
            display: flex;
            flex-direction: row;
            font-size: 0.75rem;
          }
        }
      }

      .result-category {
        align-self: flex-start;
        background: $pink-light;
        border-radius: 2px;
        color: $pink;
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        height: 1rem;
        padding: 0.25rem;
        text-align: right;
        text-transform: capitalize;

        &:hover {
          background: $pink-hover;
        }

        & > * {
          align-self: center;
        }

        svg {
          margin-left: 0.25rem;
          stroke-width: 3px;
          width: 12px;
        }
      }

      .result-description {
        align-self: flex-start;
        font-size: 0.75rem;
        margin-bottom: .5rem;
        margin-top: 1rem;
      }

      .result-contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      .result-contact {
        align-self: flex-start;
        background: $gray-light;
        border-radius: 2px;
        color: $gray;
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        height: 1rem;
        margin-right: .25rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        text-align: right;

        &:hover {
          background: $gray-hover;
        }

        a {
          color: inherit;
        }

        &:hover {
          background: $gray-hover;
        }

        a {
          color: inherit;
        }

        & > * {
          align-self: center;
        }

        svg {
          margin-right: 0.25rem;
          stroke: $gray-mid;
          stroke-width: 3px;
          width: 12px;
        }
      }
    }
  }

  .suggestions {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

    .suggestion {
      color: $gray-mid;
      display: flex;
      flex-direction: row;
      font-family: 'archia';

      div {
        padding-top: 1px;
      }

      h4 {
        cursor: pointer;
        margin-left: 0.25rem;
        word-wrap: wrap;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }
    }
  }
}

.header {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > * {
    align-self: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

    &.timeline {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem;
      position: absolute;
      top: 13.25rem;

      .highlight {
        color: $brown !important;
        position: absolute;
        text-align: center;
        top: 2.5rem;
        width: 100%;
      }
    }

    & > * {
      align-self: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    h5 {
      color: $gray;
      font-weight: 600;
      margin: 0;
    }

    svg {
      color: $gray-mid;
      cursor: pointer;
      stroke-width: 3;
      width: 16px;

      &:hover {
        stroke: $gray;
      }
    }

    .timeline-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg {
        display: flex;
        fill: #a6abb0 !important;
        flex-direction: row;
        justify-content: center;
        stroke: #a6abb0 !important;
        stroke-width: 0.5 !important;

        path {
          align-self: center;
        }

        &:hover {
          fill: $gray !important;
          stroke: $gray !important;
        }
      }
    }

    .bell-icon {
      height: 24px;
      position: relative;

      .indicator {
        background: $pblue;
        border-radius: 50%;
        height: 7px;
        position: absolute;
        right: -3px;
        top: -3px;
        width: 7px;
      }
    }
  }
}

.Timeline {
  cursor: pointer;
  height: 3rem;
  width: 30rem;
  will-change: transform;

  .day {
    position: absolute;
    text-align: center;
    width: 70px;
    will-change: transform;

    h5 {
      color: $gray-mid;

      &:hover {
        color: $gray !important;
      }

      &::selection {
        background: transparent !important;
      }
    }
  }
}

.button {
  background: $blue-light;
  border: 0;
  border-radius: 5px;
  color: $blue-mid;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: 'archia';
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  outline: none;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;

  svg {
    padding-right: 6px;
    stroke-width: 2px;
    width: 20px;
  }

  &.is-purple {
    background: $purple-light;
    color: $purple-mid;

    &:hover {
      background: $purple-hover;
    }
  }

  &.is-green {
    background: $green-light;
    color: $green-mid;

    &:hover {
      background: $green-hover;
    }
  }

  &:hover {
    background: $blue-hover;
  }

  & > * {
    align-self: center;
  }
}

.telegram {
  background: $gray-light !important;
  color: #08c !important;
  justify-content: center;
  padding-left: 0.65rem;
  width: 15.5rem;

  &:hover {
    background: $gray-hover !important;
  }
}

.github {
  background: #000 !important;
  color: #fff !important;
  justify-content: center;
  padding-left: 0.65rem;
  transition: all 0.2s ease-in-out;
  width: 15.5rem;

  &:hover {
    background: $gray-dark !important;
  }
}

.twitter {
  width: 15.5rem;
}

.excel {
  background: #33a66730;
  color: #33a667;

  &:hover {
    background: #33a66750;
  }
}

.map-switcher {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 7rem;
  width: 30rem;

  .highlight {
    background: $cherry-light;
    position: absolute;
    width: calc(25%) !important;
    z-index: -1;

    &.active {
      background: $blue-light;
    }

    &.recovered {
      background: $green-light;
    }

    &.deceased {
      background: $gray-light;
    }
  }

  .highlight,
  .clickable {
    border-radius: 5px;
    cursor: pointer;
    height: 12rem;
    width: calc(25%);
    z-index: 10;
  }
}

.Level {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;

  .level-item {
    display: flex;
    flex-direction: column;
    width: calc(25%);

    & > * {
      align-self: center;
    }
  }

  h1,
  h5 {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 600;
  }

  h4 {
    margin-bottom: -0.5rem;
  }

  h5 {
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;
  }

  .is-confirmed {
    h1,
    h5 {
      color: $cherry;
    }

    h4 {
      color: $cherry-mid;
    }
  }

  .is-active {
    h1,
    h5 {
      color: $blue;
    }

    h4 {
      color: $blue-mid;
    }
  }

  .is-recovered {
    h1,
    h5 {
      color: $green;
    }

    h4 {
      color: $green-mid;
    }
  }

  .is-deceased {
    h1,
    h5 {
      color: $gray;
    }

    h4 {
      color: $gray-mid;
    }
  }
}

abbr {
  text-decoration: none;

  &.is-cherry {
    color: $cherry;
  }

  &.is-blue {
    color: $blue;
  }

  &.is-green {
    color: $green;
  }

  &.is-gray {
    color: $gray;
  }
}

.fineprint {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: .25rem;
  width: 28rem;

  .text {
    color: $gray-mid;
    font-weight: 600;
    margin-bottom: 0.25rem;

    a {
      border-bottom: 2px solid $gray-hover;
      color: inherit;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: $gray-hover;
      }
    }
  }
}

.table {
  align-self: center;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-family: 'archia';
  font-size: 12px;
  margin-bottom: 2.5rem;
  overflow-x: auto;
  width: 28rem;

  .state-meta {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    margin-bottom: 1 + .25rem;
    margin-top: 1rem;
    position: sticky;

    svg {
      margin-right: .5rem;
    }

    .last-updated {
      align-items: center;
      color: $green;
      display: flex;
      flex-direction: row;
    }

    .state-page {
      align-items: center;
      background: $yellow-light;
      border-radius: 5px;
      color: $orange;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding: .75rem;

      p {
        align-self: flex-end;
        flex: 1;
        margin: 0;
        text-align: right;
      }

      &:hover {
        background: $yellow-hover;
      }
    }
  }

  .row {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;

    &:nth-child(odd) {
      .cell {
        background: $gray-light;
      }
    }

    &.is-highlighted {
      .cell {
        background: $gray-hover-opaque !important;
      }
    }

    &.heading {
      .cell {
        cursor: pointer;

        &:hover {
          background: $gray-hover-opaque !important;
        }
      }
    }

    &.is-total {
      .cell {
        background: $gray-hover-opaque !important;
      }
    }

    .cell {
      align-items: center;
      border-radius: 3px;
      color: $gray;
      display: flex;
      flex-direction: row;
      margin-bottom: .25rem;
      padding: .5rem;
      position: relative;

      &:not(:first-child) {
        flex-basis: 3.5rem;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-end;
      }

      &:first-child {
        background: $gray-hover-darker-opaque;
        flex-basis: 7.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;
        left: 0;
        position: sticky;
        z-index: 11;

        .sort-icon {
          left: unset;
          right: 0;
        }
      }

      svg {
        color: $gray-mid;
        stroke-width: 2.5px;
      }

      .sort-icon {
        left: 0;
        margin-left: .25rem;
        margin-right: .25rem;
        position: absolute;
        top: 0;

        &.invert {
          margin-top: .25rem;
          transform: rotate(180deg);
        }
      }

      &.statistic {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .total {
          font-size: 14px;
        }

        .is-confirmed {
          color: $cherry;
        }

        .is-recovered {
          color: $green;
        }

        .is-deceased {
          color: $gray;
        }
      }

      &:not(:last-child) {
        margin-right: 0.25rem;
      }

      &.heading {
        background: $gray-light-opaque;
        font-size: 13px;
        font-weight: 900;

        &:hover {
          background: $gray-hover !important;
        }
      }

      .state-name,
      .district-name {
        font-size: 14px;
        font-weight: 600;
        margin-right: .25rem;
        width: 6rem;
        word-wrap: break-word;
      }
    }
  }

  .spacer {
    color: $gray-mid;
    left: 0;
    margin-bottom: 1 + .25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    position: sticky;
    text-align: center;
    width: 10rem;

    .fold {
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }
  }

  .intersection {
    display: block;
  }

  @media (min-width: 769px) {
    .cell {
      &:first-child {
        flex-basis: 3rem;
      }

      &:not(:first-child) {
        flex-basis: 4rem;
      }
    }
  }
}

#chart {
  z-index: 10;
}

.anchor {
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
  z-index: 999;

  svg {
    color: $gray-mid;

    &:hover {
      color: $gray;
    }
  }

  &.stickied {
    transform: rotate(90deg);

    svg {
      color: $gray;
    }
  }
}

.MapExplorer {
  align-self: center;
  position: relative;
  width: 30rem;

  &.stickied {
    position: sticky !important;
    top: 0;
  }

  &.hidden {
    display: none;
  }

  .header {
    align-self: flex-start;
    color: $gray;
    display: flex;
    flex-direction: column;

    h1,
    h6 {
      margin: 0;
    }

    h6 {
      margin-bottom: 2rem;
      margin-top: 0.75rem;
    }
  }

  .svg-parent {
    display: block;
    margin: auto;
    margin-top: 2rem;
    overflow: visible;
    position: relative;
    width: 90%;

    &.maplegend {
      margin-top: 0.6rem;
      width: 100%;
      z-index: 1;
    }

    svg {
      align-self: center;
      height: 100%;
      overflow: visible;
      width: 100%;

      text {
        fill: $gray;
        font-family: 'archia';
        font-size: 10px;
        font-weight: 600;
        text-align: right;
      }
    }
  }

  .last-update {
    align-self: center;
    margin-bottom: auto;
    margin-top: 0.25rem;
    position: absolute;
    right: 0;
    text-align: right;
    width: 10rem;

    h6 {
      color: $green-mid;
      font-weight: 900;
    }

    h3 {
      color: $green;
      font-weight: 600;
    }

    h3,
    h6 {
      margin: 0;
    }
  }

  .map-button {
    background: $yellow-light;
    border-radius: 5px;
    color: $orange;
    cursor: pointer;
    font-family: 'archia';
    font-size: 0.75rem;
    font-weight: 900;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $yellow-hover;
    }

    svg {
      height: 12px;
      margin-left: 0.25rem;
      stroke: $orange-mid;
      stroke-width: 3px;
      vertical-align: middle;
      width: 12px;
    }
  }

  .meta {
    height: 4rem;
    justify-content: space-between;
    position: relative;

    h2 {
      font-weight: 900;
      margin-top: 0;
      width: calc(100% - 10rem);
      word-wrap: break-word;

      &.confirmed {
        color: $brick;
      }

      &.active {
        color: $blue;
      }

      &.recovered {
        color: $green;
      }

      &.deceased {
        color: $gray;
      }

      &.tested {
        color: $purple;
      }

      &.Red {
        color: #d73027;
      }

      &.Orange {
        color: #fee08b;
      }

      &.Green {
        color: #66bd63;
      }
    }

    h4 {
      color: $gray-mid;
      margin: 0;
      word-wrap: break-word;
    }

    a {
      width: 10rem;
    }

    .district {
      line-height: 15px;
      margin: 0;

      span {
        font-size: 0.75rem;
        font-weight: 600;
      }

      &.confirmed {
        color: $brick;
      }

      &.active {
        color: $blue;
      }

      &.recovered {
        color: $green;
      }

      &.deceased {
        color: $gray;
      }

      &.tested {
        color: $purple;
      }
    }
  }

  .map-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    z-index: 10;

    h1,
    h5,
    h6,
    h3 {
      margin: 0;
    }

    h3 {
      color: $gray-mid;
      font-weight: 900;
    }

    .stats {
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      padding: 0.25rem;
      position: relative;
      transition: all 0.1s ease-in-out;

      .stats-bottom {
        display: flex;
        flex-direction: column;

        h6 {
          font-weight: 900;
          margin-bottom: 0.25rem;
          margin-top: auto;
        }
      }

      h1 {
        font-size: 1em !important;
        font-weight: 600;
      }

      &.confirmed {
        background: $cherry-light;

        h5,
        h6 {
          color: $cherry-mid;
        }

        h1 {
          color: $cherry;
        }
      }

      &.recovered {
        background: $green-light;

        h5,
        h6 {
          color: $green-mid;
        }

        h1 {
          color: $green;
        }
      }

      &.active {
        background: $blue-light;

        h5,
        h6 {
          color: $blue-mid;
        }

        h1 {
          color: $blue;
        }
      }

      &.deceased {
        background: $gray-light;

        h5,
        h6 {
          color: $gray-mid;
        }

        h1 {
          color: $gray;
        }
      }

      &.tested {
        background: $purple-light;
        padding-right: 1rem;

        h5,
        h6 {
          color: $purple-mid;

          &.timestamp {
            font-weight: 900;
            margin: 0;
          }
        }

        h1 {
          color: $purple;
        }

        svg {
          cursor: pointer;
          position: absolute;
          right: 0.35rem;
          stroke: $purple-mid;
          stroke-width: 3;
          top: 0;
          transition: stroke 0.2s ease-in-out;
          width: 12px;

          &:hover {
            stroke: $purple;
          }
        }
      }

      &.is-yellow {
        background: $yellow;

        h5,
        h6 {
          color: $white;
        }

        h1 {
          color: $white;
        }
      }

      &.focused {
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #chart,
  #legend {
    filter: saturate(1.5);
  }

  .disclaimer {
    backdrop-filter: saturate(180%) blur(20px);
    background: $gray-light;
    border-radius: 5px;
    bottom: 50%;
    color: $gray-dark;
    display: flex;
    flex-direction: row;
    font-family: 'archia';
    font-size: 12px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 14rem;
    z-index: 99;

    svg {
      margin-right: 0.25rem;
      margin-top: -0.9rem;
      position: relative !important;
      stroke-width: 2px;
      width: 20px;
    }
  }

  .footnote {
    color: $gray;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: left;
    z-index: 1;

    a {
      border-bottom: 2px solid $gray-hover;
      text-decoration: none;

      &:hover {
        background: $gray-hover;
      }
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  position: relative;

  .tab {
    background: $gray-light;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $gray-mid;
    cursor: pointer;
    height: 3.25rem;
    margin-right: 0.25rem;
    min-width: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    &.focused {
      background: $gray-opaque;
      color: $gray;
    }
  }
}

.tabs-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;

  h4 {
    display: table-cell;
    font-family: 'archia';
    font-size: 12px !important;
    font-weight: 900;
    height: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
  }

  .tab {
    background: $gray-light;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $gray-mid;
    cursor: pointer;
    height: 2rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    min-width: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    &.focused {
      background: $gray-opaque;
      color: $gray;
    }

    &.disabled {
      background: $gray-opaque;
      color: $gray-mid;
    }
  }

  sup {
    position: relative;
    top: -0.5em;
    vertical-align: top;
  }
}

.TimeSeriesExplorer {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 30rem;

  &.stickied {
    position: sticky !important;
    top: -6.5rem;
  }

  .alert {
    align-self: flex-end;
    margin: 0;
    margin-top: 1rem;
  }
}

.TimeSeries {
  align-self: center;
  width: 100%;

  .svg-parent {
    height: 10rem;
    margin-bottom: 1rem;
  }
}

.timeseries-header {
  align-self: center;
  position: relative;
  width: 100%;

  h1 {
    color: $gray;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .scale-modes {
    align-items: flex-end;
    bottom: 0;
    color: $gray;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    right: 0;
    z-index: 99;

    label {
      color: $gray-mid;
      font-family: 'archia';
      font-size: 0.75rem;
      font-weight: 900;
      margin-right: 0.25rem;
      transition: all 0.2s ease-in-out;
      z-index: 99;
    }

    &:hover {
      label {
        &.main {
          color: $gray;
        }
      }
    }

    & > * {
      align-self: center;
    }
  }

  .timeseries-mode,
  .timeseries-logmode {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
}

.disabled {
  input {
    &.switch {
      background: $gray-light !important;
      border: $gray-light 2px solid !important;
      cursor: not-allowed !important;

      &::after {
        background: $gray-light !important;
      }
    }
  }
}

input {
  &.switch {
    appearance: none;
    background-color: #fff;
    border: 2px solid #d9dadc;
    border-radius: 10px;
    cursor: pointer;
    height: 14px;
    margin: 0;
    outline: none;
    position: relative;
    transition: all 300ms ease-in-out;
    width: 24px;

    &::after {
      background-color: $gray-mid;
      border-radius: 50%;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 300ms ease-in-out;
      width: 10px;
    }

    &:checked {
      background-color: $gray-mid;
      transition: all 300ms ease-in-out;

      &::after {
        background-color: $light;
        left: 10px;
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.trends-state-name {
  display: flex;
  flex-direction: row;
  text-align: center;

  select {
    appearance: none;
    background-color: #eee;

    background-image: linear-gradient(45deg, transparent 50%, #808080 50%),
    linear-gradient(135deg, #808080 50%, transparent 50%);
    background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 5px 5px, 5px 5px;
    border: 2px solid #e8e8e9;
    border-radius: 4px;
    color: $gray;
    cursor: pointer;
    font-family: 'archia';
    font-weight: 900;
    margin-left: -1px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: auto;

    &:focus {
      outline: none;
    }
  }
}

.TimeSeries,
.Minigraph {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;

  .stats {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    left: 0.5rem;
    padding: 0.25rem;
    pointer-events: none;
    position: absolute;
    top: 0.5rem;

    h2,
    h5,
    h6 {
      color: $cherry-mid;
      margin: 0;
      transition: all 0.15s ease-in-out;
    }

    h5 {
      &.title {
        color: $cherry;
      }
    }

    h2,
    h6 {
      color: $cherry;
    }

    .stats-bottom {
      display: flex;
      flex-direction: row;

      h6 {
        margin-bottom: 0.1rem;
        margin-left: 0.25rem;
      }

      & > * {
        margin-top: auto;
      }
    }

    &.is-recovered {
      h5 {
        color: $green-mid;

        &.title {
          color: $green;
        }
      }

      h2,
      h6 {
        color: $green;
      }
    }

    &.is-deceased {
      h5 {
        color: $gray-mid;

        &.title {
          color: $gray;
        }
      }

      h2,
      h6 {
        color: $gray;
      }
    }

    &.is-active {
      h5 {
        color: $blue-mid;

        &.title {
          color: $blue;
        }
      }

      h2,
      h6 {
        color: $blue;
      }
    }

    &.is-tested {
      h5 {
        color: $purple-mid;

        &.title {
          color: $purple;
        }
      }

      h2,
      h6 {
        color: $purple;
      }
    }
  }

  .svg-parent {
    align-self: center;
    background: $cherry-light;
    border-radius: 5px;
    display: flex;
    position: relative;
    width: 30rem;

    svg {
      width: 100%;

      .domain,
      .tick,
      line {
        stroke: $cherry;
        stroke-width: 1.5;
      }

      text {
        color: $cherry-mid;
        font-family: 'archia';
        font-size: 9px;
        font-weight: 600;
        stroke: transparent;
      }
    }

    &.is-recovered {
      background: $green-light;

      svg {
        .domain,
        .tick,
        line {
          stroke: $green;
        }

        text {
          color: $green-mid;
          stroke: transparent;
        }
      }
    }

    &.is-deceased {
      background: $gray-light;

      svg {
        .domain,
        .tick,
        line {
          stroke: $gray;
        }

        text {
          color: $gray-mid;
          stroke: transparent;
        }
      }
    }

    &.is-active {
      background: $blue-light;

      svg {
        .domain,
        .tick,
        line {
          stroke: $blue;
        }

        text {
          color: $blue-mid;
          stroke: transparent;
        }
      }
    }

    &.is-tested {
      background: $purple-light;

      svg {
        .domain,
        .tick,
        line {
          stroke: $purple;
        }

        text {
          color: $purple-mid;
          stroke: transparent;
        }
      }
    }
  }
}

.Minigraph {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 30rem;

  .svg-parent {
    background: transparent !important;
    width: calc(25%);
  }
}

.floating-buttons {
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: fixed;
  right: 1rem;
  width: 3rem;
  z-index: 1;

  button {
    backdrop-filter: saturate(180%) blur(2px);
    background: $yellow-mid;
    border: 0;
    border-radius: 50%;
    color: $orange;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0.25rem;
    outline: none;
    padding: 0.75rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #ffa500;

      svg {
        stroke: #ffa500;
      }
    }

    svg {
      align-self: center;
      stroke: $orange;
    }
  }
}

.Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 30rem;

  a {
    background: $blue-light;
    color: $blue;
    font-family: 'archia';
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    word-wrap: break-word;

    &:hover {
      background: $blue-hover;
    }
  }

  h3 {
    color: $gray-dark;
    font-weight: 900;
    margin-bottom: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;

  & > * {
    align-self: center;
    text-align: center;
  }

  h5 {
    color: $gray;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  img {
    height: 2rem;
    width: 2rem;
  }
}

.Summary {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 600px;

  img {
    height: 2rem;
    width: 2rem;
  }

  .link {
    margin: 0;
  }

  .header {
    h1 {
      margin-top: -1rem;
    }
  }

  h5 {
    color: $gray;
    margin: 0;
  }

  .Minigraph {
    align-self: center;
    margin-bottom: -3.25rem;
  }

  .summary-bottom {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 0);

    .link {
      margin-right: -0.75rem;
      width: 12rem;
    }

    & > * {
      align-self: center;
    }

    img {
      margin-bottom: 0.25rem;
      margin-left: 1rem;
      margin-right: 0.25rem;
    }

    h5 {
      width: 15rem;
    }
  }

  .summary-bottom-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > * {
      align-self: center;
    }
  }
}

.FAQ {
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  width: 100%;

  & > * {
    align-self: center;
    margin-bottom: 1.5rem;
    width: 30rem;
  }

  & > *:first-child {
    margin-top: 2rem;
  }

  h2 {
    font-weight: 600;
    margin: 0;
    text-transform: none;
  }

  .question {
    color: $gray-dark;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  .answer {
    color: $blue;
    line-height: 1.5rem;
  }

  a {
    background: $blue-light;
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Demographics {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  width: calc(100% - 6rem);

  .select {
    display: flex;
    flex-direction: row;
    text-align: center;

    .react-date-picker {
      align-items: center;
      background-color: #eee;
      border: 2px solid #e8e8e9 !important;
      border-radius: 4px;
      color: #6c757d;
      cursor: default;
      font-family: 'archia';
      font-size: 12px;
      font-weight: 900;
      height: 2.19rem;
      margin: 0.2rem 0.1rem;
      padding: 0.5rem;
      padding-inline-start: 1px;
      width: auto;

      input,
      button {
        &:focus {
          outline: none;
        }
      }
    }

    .react-date-picker,
    .react-date-picker *,
    .react-date-picker *::before,
    .react-date-picker *::after {
      border: 0;
    }

    .react-calendar {
      background: $gray-light-opaque;
      border: 2px solid $gray-light;
      border-radius: 5px;

      button {
        border-radius: 5px;
        font-family: 'archia';
        padding: 1rem;
        transition: all 0.1s ease-in-out;

        &:disabled {
          border-radius: 0 !important;
          color: $gray-mid;
          cursor: not-allowed;
        }
      }
    }

    .react-date-picker__inputGroup__input {
      &:invalid {
        background: transparent;
      }
    }

    .react-date-picker__wrapper {
      border: unset;

      svg {
        stroke: $gray-mid;

        &:hover {
          stroke: $gray;
        }
      }
    }

    .react-calendar__tile--active {
      background: $pblue-light;
      color: $pblue !important;

      &:hover {
        background: $pblue-hover;
        color: $pblue !important;
      }
    }

    .react-calendar__month-view__weekdays__weekday {
      font-family: 'archia';
      margin-bottom: 0.5rem;
    }

    .react-calendar__month-view__days__day--weekend,
    .react-calendar__month-view__days__day {
      color: $gray;
    }

    .react-date-picker__calendar {
      top: 3.5rem !important;
    }

    .react-calendar__navigation__label {
      color: $gray !important;
    }

    .react-calendar__navigation__arrow {
      color: $gray;
    }

    .react-date-picker__inputGroup > * {
      color: $gray !important;
    }

    .react-date-picker__clear-button {
      margin: 0 !important;
      padding: 0 !important;

      svg {
        stroke-width: 3px;
        width: 16px;
      }
    }

    .react-date-picker__calendar-button {
      margin: 0 !important;
      margin-left: 0.25rem !important;
      padding: 0 !important;

      svg {
        height: 16px;
        stroke-width: 3px;
        width: 16px;
      }
    }

    select {
      appearance: none;
      background-color: #eee;

      background-image: linear-gradient(45deg, transparent 50%, #808080 50%),
      linear-gradient(135deg, #808080 50%, transparent 50%);
      background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%;
      background-repeat: no-repeat;
      background-size: 5px 5px, 5px 5px;
      border: 2px solid #e8e8e9;
      border-radius: 4px;
      color: $gray;
      cursor: pointer;
      font-family: 'archia';
      font-weight: 900;
      margin: 0.2rem 0.1rem;
      padding: 0.5rem;
      width: 130px;

      &:focus {
        outline: none;
      }
    }
  }

  .reminder {
    align-self: center !important;
    background: $pblue-light;
    border-radius: 5px;
    color: $pblue;
    font-family: 'archia';
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: center;
    width: 30rem;

    svg {
      cursor: pointer;
      padding: 0.5rem;
      position: absolute;
      right: 0;
      stroke: $pblue-mid;
      stroke-width: 3px;
      top: -0.25rem;
      width: 16px;

      &:hover {
        stroke: $pblue;
      }
    }
  }

  .header {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.75rem;
    width: calc(100% - 10rem);

    h1 {
      color: $pblue;
    }

    h3 {
      color: $pblue-mid;
      font-weight: 900;
      margin-top: 0;
    }

    h6 {
      &.disclaimer {
        color: $gray-mid;
        margin-bottom: 1rem;
        text-align: right;
        width: 10rem;
      }
    }

    .deep-dive {
      align-self: flex-start;
      display: flex;
      flex-direction: row;

      h5 {
        color: $gray;
        margin: 0;
        margin-right: 1rem;
      }
    }
  }

  .patientdb-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;

    .no-result {
      align-self: center;
      display: flex;
      flex-direction: column;
      height: 20rem;
      justify-content: center;

      h5 {
        color: $gray;
        font-weight: 600;
        text-align: center;

        span {
          color: $pblue !important;
          font-weight: 900;
        }
      }
    }
  }

  .legend {
    z-index: unset;
  }
}

.Patients {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  & > * {
    align-self: center;
  }

  h5 {
    &.daylabel {
      color: $pblue;
    }
  }

  .day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .patient-card {
    background: $gray-light;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 3.25rem;
    justify-content: center;
    margin: 0.25rem;
    transition: background 0.3s ease-in-out;
    width: 3.25rem;

    & > * {
      align-self: center;
    }

    &:hover {
      background: $gray-hover;
    }

    h3 {
      color: $gray-mid;
      font-size: 11px !important;
      font-weight: 900;
    }

    &.is-small {
      background: $gray-hover;
      height: 1rem;
      width: 1rem;

      &:hover {
        background: $gray-mid;
      }

      &.is-femme {
        background: $pink;
      }

      &.is-male {
        background: $pblue;
      }

      &.is-local {
        background: $cherry;
      }

      &.is-imported {
        background: $purple;
      }
    }

    &.is-femme {
      background: $pink-mid;

      h3 {
        color: $pink;
      }

      &:hover {
        background: $pink-hover;
      }
    }

    &.is-male {
      background: $pblue-light;

      h3 {
        color: $pblue;
      }

      &:hover {
        background: $pblue-hover;
      }
    }

    &.is-local {
      background: $cherry-light;

      h3 {
        color: $cherry;
      }

      &:hover {
        background: $cherry-hover;
      }
    }

    &.is-imported {
      background: $purple-light;

      h3 {
        color: $purple;
      }

      &:hover {
        background: $purple-hover;
      }
    }

    &.is-in {
      background: url('/flags/india.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-uk {
      background: url('/flags/uk.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-us {
      background: url('/flags/usa.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-th {
      background: url('/flags/thailand.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-ph {
      background: url('/flags/philippines.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-it {
      background: url('/flags/italy.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-ca {
      background: url('/flags/canada.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-id {
      background: url('/flags/indonesia.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.is-mm {
      background: url('/flags/myanmar.png');
      background-size: cover !important;

      h3 {
        color: transparent;
      }

      &:hover {
        background: $gray-light;

        h3 {
          color: $gray-mid;
        }
      }
    }

    &.age1-9 {
      background: #006400;
    }

    &.age10-19 {
      background: #00008b;
    }

    &.age20-29 {
      background: #b03060;
    }

    &.age30-39 {
      background: #ff4500;
    }

    &.age40-49 {
      background: #ff0;
    }

    &.age50-59 {
      background: #deb887;
    }

    &.age60-69 {
      background: #0f0;
    }

    &.age70-79 {
      background: #0ff;
    }

    &.age80-89 {
      background: #f0f;
    }

    &.age90-99 {
      background: #6495ed;
    }
  }
}

.DownloadBlock {
  align-self: center;
  margin-top: 7rem;

  code {
    color: $orange-mid;
    font-family: 'archia';
  }

  a {
    color: $orange-mid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none !important;
  }

  .button {
    background: $orange-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    & > * {
      align-self: center !important;
    }

    &:hover {
      background: $orange-hover;
    }
  }

  svg {
    stroke: $orange-mid;
    stroke-width: 3;
  }
}

.modal {
  background: $pblue-mid;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .modal-content {
    align-self: center;
    background: #fff;
    border-radius: 5px;
    cursor: default;
    height: 30rem;
    overflow-y: auto;
    padding: 1rem;
    position: fixed;
    width: 30rem;

    svg {
      stroke: $pblue-mid;
      stroke-width: 3;
      transition: all 0.1s ease-in-out;
      width: 20px;

      &:hover {
        stroke: $pblue;
      }
    }

    .close-button {
      cursor: pointer;
      position: absolute;
      right: 1rem;
    }

    h1 {
      color: $pblue;
    }

    h5,
    h3 {
      font-weight: 900;
      margin: 0;
    }

    h3 {
      color: $pblue;
      margin-bottom: 0.5rem;
    }

    h5 {
      color: $pblue-mid;
    }

    .meta {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 10rem;

      & > * {
        width: 10rem;
      }

      h3 {
        &.contracted-from {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-style: dotted;
          transition: all 0.1s ease-in-out;
          width: 2rem;

          &:hover {
            background: $pblue-light;
          }
        }
      }
    }

    .modal-top {
      display: flex;
      flex-direction: row;

      & > {
        align-self: center;
      }
    }

    .notes {
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 10rem;
    }

    .link {
      margin: 0;
      margin-bottom: 0.5rem;
      margin-top: 0.25rem;

      a {
        background: $pblue-light;
        color: $pblue;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: $pblue-hover;
        }
      }
    }
  }
}

.patients-summary {
  align-self: center;
  width: 30rem;

  .Patients {
    min-height: 5rem;
  }

  h1 {
    color: $gray-dark;
    margin-bottom: 0.25rem;
  }

  h6 {
    color: $gray;
    font-weight: 600;
    margin: 0;
    margin-top: 0;
  }

  .summary {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .patients-summary-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > * {
      align-self: center;
    }
  }

  .button {
    background: $pblue-light;
    color: $pblue;
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-top: 1rem;

    & > * {
      align-self: center;
    }

    &:hover {
      background: $pblue-hover;
    }
  }

  a {
    color: inherit;
    display: flex;
    flex-direction: row;
    text-decoration: none;

    & > * {
      align-self: center;
    }
  }

  .daylabel {
    align-self: flex-start;
  }

  .link {
    a {
      display: inline !important;
      padding-bottom: 0;
    }
  }

  .legend {
    justify-content: flex-start;
    padding: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
  }
}

.select {
  display: flex;
  flex-direction: column;

  label {
    color: $gray-mid;
    font-size: 0.75rem;
    font-weight: 900;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }
}

.filters {
  background: #fff !important;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: archia;
  justify-content: space-between;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 101;

  & > * {
    align-self: center;
  }

  .filters-left {
    display: flex;
    flex-direction: row;
  }
}

.pills {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  > button {
    background-color: $yellow-light;
    border: 2px $yellow-light solid;
    border-bottom: 0;
    border-top: 0;
    color: $orange;
    cursor: pointer;
    font-family: 'archia';
    font-size: 10px !important;
    font-weight: 600;
    margin: 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    transition: background 0.25s ease-in-out;

    &:hover {
      background: $yellow-hover;
    }

    &.selected {
      background-color: $yellow-mid;
    }

    &:focus {
      &:not(:focus-visible) {
        outline: none;
      }
    }

    &:first-of-type {
      border: 0;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-of-type {
      border: 0;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.legend {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: archia;
  justify-content: center;
  z-index: 101;

  & > * {
    align-self: center;
  }

  .legend-left {
    display: flex;
    flex-direction: row;
  }

  select {
    margin-left: 1rem;
  }

  h5 {
    color: $gray;
    margin: 0;
    margin-right: 0.5rem;

    &.is-female {
      color: $pink;
    }

    &.is-male {
      color: $pblue;
    }

    &.is-local {
      color: $cherry;
    }

    &.is-imported {
      color: $purple;
    }
  }

  .circle {
    background: $gray-mid;
    border-radius: 50%;
    height: 0.8rem;
    margin-right: 0.25rem;
    width: 0.8rem;

    &.is-female {
      background: $pink;
    }

    &.is-male {
      background: $pblue;
    }

    &.is-local {
      background: $cherry;
    }

    &.is-imported {
      background: $purple;
    }

    &.is-in {
      background: url('/flags/india.png');
      background-size: cover !important;
    }

    &.is-uk {
      background: url('/flags/uk.png');
      background-size: cover !important;
    }

    &.is-us {
      background: url('/flags/usa.png');
      background-size: cover !important;
    }

    &.is-th {
      background: url('/flags/thailand.png');
      background-size: cover !important;
    }

    &.is-ph {
      background: url('/flags/philippines.png');
      background-size: cover !important;
    }

    &.is-it {
      background: url('/flags/italy.png');
      background-size: cover !important;
    }

    &.is-ca {
      background: url('/flags/canada.png');
      background-size: cover !important;
    }

    &.is-id {
      background: url('/flags/indonesia.png');
      background-size: cover !important;
    }

    &.is-mm {
      background: url('/flags/myanmar.png');
      background-size: cover !important;
    }
  }
}

.updates-header {
  align-self: center;
  color: $gray-dark;
  width: 30rem;

  h2 {
    color: $pblue;
    font-weight: 900;
  }
}

.updates {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-height: 22rem !important;
  width: 100%;

  .update {
    background: $gray-light;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    h5,
    h4 {
      margin: 0;
    }

    h5 {
      color: $gray-mid;
      margin-bottom: 0.15rem;
    }

    h4 {
      color: $gray;
      font-weight: 600;
    }
  }

  .button {
    background: $pblue-light;
    color: $pblue;
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 13rem;

    & > * {
      align-self: center;
    }

    &:hover {
      background: $pblue-hover;
    }
  }

  a {
    color: inherit;
    display: flex;
    flex-direction: row;
    text-decoration: none;

    & > * {
      align-self: center;
    }
  }
}

.district-bar {
  align-self: center;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-weight: 900;
    margin-bottom: 0.5rem;

    &.confirmed {
      color: $red;
    }

    &.active {
      color: $blue;
    }

    &.recovered {
      color: $green;
    }

    &.deceased {
      color: $gray;
    }
  }

  .district-bar-left {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

    .button {
      background: $gray-light;
      color: $gray;
      font-weight: 600;
      height: 2.5rem;
      justify-content: center;
      margin-top: 0.75rem;
      text-transform: unset;
      width: 5rem;

      &:hover {
        background: $gray-hover;
      }
    }
  }

  .district-bar-right {
    display: flex;
    justify-content: center;
    position: relative;

    .happy-sign {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 4rem;
    }

    .DeltaBarGraph {
      margin-top: 1rem;

      svg {
        width: 100%;

        text {
          font-family: 'archia';
        }

        .label {
          font-size: 11px;
          font-weight: 900;
          text-anchor: middle;
        }
      }
    }
  }

  .districts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    &.is-grid {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .district {
      display: flex;
      flex-direction: row;
      font-family: 'archia';
      height: 2.5rem;
      justify-content: flex-start;
      margin-right: 1rem;

      h2,
      h5 {
        color: $gray;
        font-weight: 600;
        margin: 0;
      }

      h5 {
        display: inline-block !important;
        flex: 0 1;
        margin-left: 0.5rem;
        margin-top: 0.15rem;
        width: auto !important;
      }

      & > * {
        align-self: center;
      }

      .delta {
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;
        margin-top: 4px;

        h6 {
          margin: 0;

          &.confirmed {
            color: $red-mid;
          }

          &.active {
            color: $blue-mid;
          }

          &.recovered {
            color: $green-mid;
          }

          &.deceased {
            color: $gray-mid;
          }
        }

        svg {
          stroke-width: 4;
          vertical-align: bottom;
          width: 10px;

          &.confirmed {
            color: $red-mid;
          }

          &.active {
            color: $blue-mid;
          }

          &.recovered {
            color: $green-mid;
          }

          &.deceased {
            color: $gray-mid;
          }
        }

        & > * {
          align-self: center;
        }
      }
    }
  }
}

.LanguageSwitcher {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: 30rem;

  h3 {
    align-self: center;
    color: $pblue;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .close-button {
    align-self: center;
    background: $pblue-light;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1rem;
    min-width: 1rem;
    padding: 1rem;

    &:hover {
      background: $pblue-hover;
    }

    svg {
      color: $pblue-mid;
      stroke-width: 2.5px;

      &:hover {
        color: $pblue;
      }
    }
  }

  .languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
    min-height: 10rem;

    .language {
      border-radius: 5px;
      color: $pblue-mid;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: 'archia';
      font-weight: 600;
      justify-content: center;
      padding: 1rem;
      user-select: none;

      &:hover {
        color: $pblue;
      }

      &.is-highlighted {
        background: $pblue-light;
        color: $pblue;
      }
    }
  }
}

.SunMoon {
  cursor: pointer;
}

.cards-container {
  margin-left: 5rem;
  padding: 2rem;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex: 0 1 calc(33% - 1em);
      height: 30rem;
      margin-bottom: 2em;

      .charts-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;

        .chart-title {
          color: #6c757d;
          font-family: 'archia';
          font-size: 1.5rem !important;
          font-weight: 900;
          padding: 20px 0;
          text-transform: uppercase;
        }

        .chart-content {
          height: 100%;
          width: 100%;
        }

        .chart-note {
          color: $gray;
          font-family: 'archia';
          font-size: 0.8rem;
          height: 50px;
          margin-top: 5px;
        }
      }
    }
  }

  @media (max-width: 769px) {
    margin-left: unset;
    padding: 1rem;
  }
}

.Tooltip {
  display: flex;
  flex-direction: column;

  .message {
    background: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 400;
    justify-content: flex-end;
    max-width: 30vw;
    min-width: 10rem;
    padding: .5rem;
    pointer-events: none;
    right: 0;
    top: 0;
    transform: translate3d(2rem, 0, 0);

    p {
      color: $white !important;
      margin: 0;
    }
  }
}

@media (min-width: 769px) {
  .Home,
  .State {
    padding-top: 5rem;
  }

  .Navbar {
    background: $gray-light-opaque;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-width: 5rem;
    position: fixed;
    z-index: 999;

    .navbar-left {
      margin-bottom: .5rem;
      margin-top: auto;
      order: 3;
      text-align: center;
    }

    .navbar-middle {
      font-size: 0.6rem;
      order: 1;
      padding-bottom: 2rem;
      padding-top: 2rem;
      text-align: center;
      width: 46px;
      word-wrap: break-word;
    }

    .navbar-right {
      background: $gray-light-opaque;
      display: flex;
      flex-direction: column;
      order: 2;
      padding-bottom: 0;
      padding-top: 0;

      & > span {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;

        svg {
          stroke: $gray;
        }
      }
    }

    .expand {
      background: $gray-light-opaque;
      flex-direction: column;
      height: calc(100% - 5.5rem);
      padding-left: 0;
      padding-top: 5.75rem;
      top: 0;
      width: 15rem;

      & > * {
        border: 0;
        color: $gray;
        font-weight: 600;
        height: 1.5rem;
        width: 12rem;
      }
    }
  }

  .dark-mode {
    .Navbar,
    .expand,
    .navbar-right {
      background: #1e1e30 !important;
    }
  }
}

@media (max-width: 769px) {
  .table,
  .fineprint,
  .header,
  .Level,
  .TimeSeriesExplorer,
  .Links,
  .Minigraph,
  .Summary,
  .FAQ,
  .MapExplorer,
  .filters,
  .map-switcher,
  .updates-header,
  .StateMeta,
  .Essentials,
  .timeline,
  .LanguageSwitcher {
    width: calc(100% - 2rem);
  }

  .Home,
  .State, {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    width: 100%;

    .home-left,
    .home-right,
    .state-left,
    .state-right {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }
  }

  .Level {
    h1 {
      font-size: 5vw !important;
    }
  }

  .MapExplorer {
    .svg-parent {
      width: 100%;
    }

    .header {
      margin-top: 2rem;
    }
  }

  .link,
  .faq {
    width: calc(100% - 2rem);
  }

  .TimeSeries {
    .svg-parent {
      width: 100%;
    }
  }

  .Minigraph {
    .svg-parent {
      padding: 0;
    }
  }

  .map-stats {
    .stats {
      .timestamp {
        width: 4.5rem;
      }
    }
  }

  a {
    &.button {
      display: flex;
      flex: row;
      justify-content: center;
      width: 10rem;

      & > * {
        align-self: center;
      }

      svg {
        width: 38px;
      }
    }
  }

  .Banner {
    height: 7rem;

    .snippet {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 100%;
    }
  }

  .cards-container {
    padding: .5rem;

    .cards {
      .card {
        flex: 0 1 100%;
        height: 25rem;
        margin-bottom: 0;
      }

      .chart-title {
        padding: 20px 0 10px;
      }

      .card-big {
        height: 30rem;
      }
    }
  }

  .Demographics {
    margin-left: 0;
    width: 100%;

    .select {
      .react-date-picker__calendar {
        position: fixed;
        top: 2.3rem !important;
      }
    }

    .header {
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      width: calc(100% - 2rem);
    }

    .reminder {
      padding-bottom: 1rem;
      padding-top: 1rem;
      width: calc(100% - 4rem);
    }

    .Patients {
      width: calc(100% - 2rem);
    }

    .modal {
      .modal-content {
        width: calc(100% - 5rem);

        .meta {
          height: 20rem;
        }
      }
    }

    .filters-left {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .filters {
      align-self: center;
      height: auto;
      justify-content: center;
      padding: 0.5rem;
    }
  }

  .patients-summary {
    width: calc(100% - 2rem);

    .modal {
      .modal-content {
        width: calc(100% - 5rem);

        .meta {
          height: 20rem;
        }
      }
    }
  }

  .patientdb-wrapper {
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .Patients {
      width: 100%;
    }

    .day {
      justify-content: center;
      width: 100%;
    }
  }

  &.nationality {
    margin-bottom: 0.5rem;
  }

  .Navbar {
    .expand {
      height: calc(100% - 4rem);
      overflow: auto;
      transform: none !important;
    }

    .expand-bottom {
      margin-top: auto;
    }

    .navbar-right {
      & > span {
        display: none;

        &:first-child {
          display: initial;
        }
      }
    }
  }

  .Search {
    .result-name {
      max-width: 10rem !important;
    }
  }

  .State {
    .district-bar {
      width: calc(100% - 3rem);

      h1 {
        padding-left: 0;
      }
    }
  }

  .StateMeta {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(5rem));
    margin-bottom: 1rem;

    .meta-item {
      min-width: 1rem;
    }
  }

  .Essentials {
    .alert {
      width: 15rem !important;
    }
  }

  .timeline {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .Timeline {
    width: 100%;
  }

  .LanguageSwitcher {
    margin-left: 0;
  }
}

// Dark Mode

.dark-mode {
  background: #161625 !important;
  color: #bdbdbd;

  .switch-wrapper > div {
    background: #161625 !important;
  }

  .expand {
    background: #1e1e30 !important;
  }

  .Navbar,
  .expand {
    border-right: 0;

    .navbar-middle {
      color: #bdbdbd;
    }
  }

  .table {
    .cell {
      &:first-child {
        background: #1e1e30 !important;
      }

      &.heading {
        background: #1e1e30 !important;
      }
    }

    .is-highlighted,
    .is-total {
      .cell {
        background: #1e1e30 !important;
      }
    }
  }

  .Search {
    input {
      background: #1e1e30 !important;
    }
  }

  .State {
    .header-right {
      h5 {
        color: #9673b9bb !important;
      }

      h2 {
        color: #9673b9 !important;
      }

      a {
        background: #40008050 !important;
      }
    }

    .breadcrumb {
      ul {
        background: #1e1e30 !important;

        &::after {
          border-bottom-color: #1e1e30 !important;
        }

        li {
          a {
            color: $gray !important;

            &:hover {
              color: $white !important;
            }
          }
        }
      }
    }
  }

  .MapExplorer {
    #chart,
    #legend {
      &.zone {
        filter: none;
      }

      &:not(.zone) {
        filter: invert(1) hue-rotate(180deg) saturate(1.5) url('#balance-color');
      }
    }

    .maplegend {
      background: #161625 !important;
    }

    .meta {
      h1 {
        &.tested {
          color: #9673b9 !important;
        }
      }

      h2 {
        &.tested {
          color: #9673b9 !important;
        }
      }
    }

    .stats {
      &.tested {
        background: #40008050 !important;

        h1 {
          color: #9673b9 !important;
        }

        h5,
        h6 {
          color: #9673b9bb !important;
        }

        svg {
          stroke: #9673b9bb !important;

          &:hover {
            stroke: #9673b9 !important;
          }
        }
      }
    }

    .disclaimer {
      color: $gray-light-opaque;
    }
  }

  .TimeSeries,
  .Minigraph {
    .stats {
      &.is-tested {
        h5 {
          color: #9673b9bb !important;

          &.title {
            color: #9673b9 !important;
          }
        }

        h2,
        h6 {
          color: #9673b9 !important;
        }
      }
    }

    .svg-parent {
      &.is-tested {
        background: #40008050 !important;

        svg {
          circle,
          .domain,
          .tick {
            stroke: #9673b9 !important;
          }

          circle {
            fill: #9673b9 !important;
          }

          .trend,
          line {
            stroke: #9673b999 !important;
          }

          text {
            color: #9673b9bb !important;
            stroke: transparent;
          }
        }
      }
    }
  }

  .tpm {
    background: #40008050 !important;

    h3,
    h5,
    svg,
    p {
      color: #9673b9bb !important;
    }

    h1 {
      color: #9673b9 !important;
    }
  }

  .tab {
    &.focused {
      background: #1e1e30 !important;
      color: #bdbdbd !important;
    }
  }

  .pills {
    button {
      &.selected {
        background: #{$yellow}50;
      }
    }
  }

  .trends-state-name,
  .select {
    select {
      background: #1e1e30;
      background-image: linear-gradient(45deg, transparent 50%, $gray 50%),
      linear-gradient(135deg, $gray 50%, transparent 50%);
      background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%;
      background-repeat: no-repeat;
      background-size: 5px 5px, 5px 5px;
      border-color: #9494941a;
    }
  }

  input {
    &.switch {
      background-color: #161625 !important;
      border: 2px solid $gray-mid !important;

      &:checked {
        background-color: #6c757d99 !important;

        &::after {
          background-color: #cfcfcf !important;
        }
      }

      &::after {
        background-color: #cfcfcf !important;
      }
    }
  }

  .disabled {
    input {
      &.switch {
        background: $dark !important;
        border: $gray-light 2px solid !important;
        opacity: 0.7;

        &::after {
          background: $gray !important;
        }
      }
    }
  }

  .button {
    &.github {
      color: #bdbdbd !important;

      svg {
        stroke: #bdbdbd !important;
      }
    }
  }

  .FAQ {
    .question {
      color: $gray !important;
    }
  }

  .Demographics {
    .filters {
      background: #1e1e30 !important;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #1e1e30;
    }

    .legend {
      background: #1e1e30 !important;
    }

    .react-date-picker {
      background: #1e1e30;
      border-color: #9494941a !important;
    }

    .modal-content {
      background: #1e1e30 !important;
    }

    .modal {
      background: #1e1e30bb !important;
    }
  }

  .StateDropdown {
    .dropdown {
      background: #1e1e30 !important;
    }
  }
}

// Animation Support

.fadeInUp {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateDownRight;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateRightDown;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
